body{
  background-color: white;
}
nav{
  background-color: wheat;
  display: flex;
  gap: 50px;
  padding: 23px;
}
*{
  margin: 0;padding: 0;
}
a li {
  color: black;
}

li{
  text-decoration: none;
}

.red {
  background-color: red;
  color: white;
}


